<mat-card class="tarjeta-superheroe">
  <div class="imagen-superheroe">
    <img [src]="superheroe().urlImagen" />
  </div>

  <mat-card-header>
    <mat-card-title>{{ superheroe().nombre }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <dl class="datos-superheroe">
      <div>
        <dt>Edad</dt>
        <dd>{{ superheroe().edad }} años</dd>
      </div>
      <div>
        <dt>Altura</dt>
        <dd>{{ superheroe().altura }} m</dd>
      </div>
    </dl>

    <p>{{ superheroe().descripcion }}</p>
  </mat-card-content>

  <mat-card-actions class="acciones" align="end">
    <button matButton type="button" (click)="abrirEdicion()">
      <mat-icon>edit</mat-icon>
      Editar
    </button>
    <button matButton type="button" (click)="abrirConfirmacionEliminacion()">
      <mat-icon class="btn-trash">delete</mat-icon>
      Eliminar
    </button>
  </mat-card-actions>
</mat-card>
