.formulario-alta-edicion {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
}

.selector-imagen {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.error-imagen {
  color: var(--mat-sys-error);
  font-size: 0.75rem;
}

.vista-previa-imagen {
  width: 10rem;
  height: 7.5rem;
  object-fit: cover;
}
